# Load Data

In [2]:
from sklearn.datasets import load_iris
iris = load_iris()

# Structure data into a data frame
### creating a nicely tabulated dataset from sklearn bunch that has different components of the data in different bunches

In [4]:
import pandas as pd
X = pd.DataFrame(data = iris.data, columns = iris.feature_names)
print(X.head())

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [6]:
y = pd.DataFrame(data=iris.target, columns = ['irisType'])
y.head()

   irisType
0         0
1         0
2         0
3         0
4         0

In [10]:
import pandas as pd
data = pd.DataFrame({
    'SepalLength':iris.data[:,0],
    'SepalWidth':iris.data[:,1],
    'PetalLength':iris.data[:,2],
    'PetalWidth':iris.data[:,3],
    'Species':iris.target
})
data.head()

   SepalLength  SepalWidth  PetalLength  PetalWidth  Species
0          5.1         3.5          1.4         0.2        0
1          4.9         3.0          1.4         0.2        0
2          4.7         3.2          1.3         0.2        0
3          4.6         3.1          1.5         0.2        0
4          5.0         3.6          1.4         0.2        0

# New Section
### dataset made of rows and columns
### need to adress each column separately. Adress first column as 0; if want all columns: [:,0]
: - all rows
0 - column 0
[:,1] - all rows from column 1

# Descriptive Analysis on the data frame

In [8]:
y.irisType.value_counts()

2    50
1    50
0    50
Name: irisType, dtype: int64